<h2>Show Question</h2>

<ul>

  <li>
    <strong>Question:</strong>
    <%= @question.question %>
  </li>

</ul>

<span><%= link "Edit", to: question_path(@conn, :edit, @question) %></span>
<span><%= link "Back", to: question_path(@conn, :index) %></span>
