<h2>Show Test</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @test.name %>
  </li>

</ul>

<span><%= link "Edit", to: test_path(@conn, :edit, @test) %></span>
<span><%= link "Back", to: test_path(@conn, :index) %></span>
